/* styles.css */

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(243, 243, 195);
}


 h4 {
    font-weight: 400px;
    background-color: black;
    color: white;
    text-align: center;
}

#title {
    color: white;
    font-weight: 800px;
    display: block;
    text-align: center;
    background-color: rgb(59, 51, 41);
    padding: 20px;
}

.page-links {
    font-weight: bold;
    border: 2px black;
}

#list {
    background-color: burlywood;
    font-size: large;
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    border: solid black
}


